<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{ 'website-header' | translate }}</span>
    <span class="example-spacer"></span>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <mat-icon>share</mat-icon>
    </button>
    <div>
      <button mat-icon-button class="lang-btn" (click)="changeLanguage(en)">EN</button> | <button mat-icon-button class="lang-btn" (click)="changeLanguage(fa)">FA</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
